In [1]:
!pip install -q lxml

In [11]:
import bs4
import lxml
import pandas
import urllib
from tqdm.auto import tqdm

from urllib import request

In [51]:
""" Scrapping du site insee.fr """

url = 'https://www.insee.fr/fr/statistiques/3677771?sommaire=3677855'
raw_text = request.urlopen(url).read()
page = bs4.BeautifulSoup(raw_text) #,'lxml')
tableau = page.find('table', {'id' : 'produit-tableau-figure1'})
rows = tableau.find_all('tr')

In [52]:
""" Création d'un dictionnaire pour manipuler plus aisément les données """

data_pop = {
    rows[i].text.split("\n")[1] : [rows[i].text.split("\n")[2], rows[1].text.split("\n")[3].replace('\xa0',' ')] for i in range(1,len(rows))
}

In [19]:
""" Conversion en DataFrame pour exporter """

df_pop = pandas.DataFrame(data_pop)

In [20]:
""" Exportation au format json """

df_pop.to_json('data_pop.json')

In [217]:
class Population_departement :
    """
    Class permettant de scrapper et d'effectuer des opérations sur les données de l'INSEE concernant la population officielle des départements entre
    2011 et 2020.
    
    """
    def __init__ (self) :
        """
        Initialisation de la classe contenant :
            self.data_pop : Dictionnaire contenant les données
            self.urls : liste des urls nécessaire au scrapping
        """
        self.data_pop = {
            i : {} for i in range(2011,2021)
            }
        self.urls = [
            'https://www.insee.fr/fr/statistiques/2119745?sommaire=2119751',
            'https://www.insee.fr/fr/statistiques/2119678?sommaire=2119686',
            'https://www.insee.fr/fr/statistiques/2119468?sommaire=2119504',
            'https://www.insee.fr/fr/statistiques/2525762?sommaire=2525768',
            'https://www.insee.fr/fr/statistiques/3292643?sommaire=3292701',
            'https://www.insee.fr/fr/statistiques/3677771?sommaire=3677855',#
            'https://www.insee.fr/fr/statistiques/4265390?sommaire=4265511',
            'https://www.insee.fr/fr/statistiques/4989753?sommaire=4989761',
            'https://www.insee.fr/fr/statistiques/6013867?sommaire=6011075',
            'https://www.insee.fr/fr/statistiques/6683015?sommaire=6683037'
        ]

    def scrap(self):
        """ 
        Fonction permettant de scrapper les données voulues, i.e. la population officielle de chaque département de 2011 à 2020 depuis le site
        de l'INSEE.

            Paramètres:
            ------------
                self.data_pop : dict
                    Dictionnaire contenant toutes les données par années
        
            Output:
            ----------
                self.data_pop : dict
                    Dictionnaire contenant toutes les données par années actualisées
            
        """
        for i in range (len(self.urls)) :
            url = self.urls[i]
            raw_text = request.urlopen(url).read()
            page = bs4.BeautifulSoup(raw_text) #,'lxml')
            if i < 6 :
                fig = '1'
            else :
                fig = '2'
            tableau = page.find('table', {'id' : 'produit-tableau-figure' + fig})
            rows = tableau.find_all('tr')
            
            if 2011 + i < 2015 :
                self.data_pop[2011 + i] = {
                rows[j].text.split("\n")[1] : int(rows[j].text.split("\n")[3].replace('\xa0','').replace(' ','')) for j in range(3,len(rows))
                }
            elif 2011 + i == 2017 :
                self.data_pop[2011 + i] = {
                '0'+rows[j].text.split("\n")[1] : int(rows[j].text.split("\n")[3].replace('\xa0','').replace(' ','')) for j in range(1,10)
                }
                for j in range (10,len(rows)):
                    self.data_pop[2011 + i][rows[j].text.split("\n")[1]] = int(rows[j].text.split("\n")[3].replace('\xa0','').replace(' ',''))
            else :
                self.data_pop[2011 + i] = {
                    rows[j].text.split("\n")[1] : int(rows[j].text.split("\n")[3].replace('\xa0','').replace(' ','')) for j in range(1,len(rows))
                }
        

            
    def export(self) :
        """
        Fonction intégrée d'export pour permettant de faciliter les manipulations.

        Paramètres:
            ------------
                self.df_pop : DataFrame
                    Dictionnaire contenant toutes les données par années
        
            Output:
            ----------
                Aucun
        """
        self.df_pop = pandas.DataFrame(self.data_pop)
        self.df_pop.to_json('data_pop.json')

In [225]:
test

,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
,63070344,63375971,63697865,64027958,NaN,NaN,NaN,NaN,NaN,NaN
01,603827,612191,619497,626127,631877.0,638425.0,643350.0,647634.0,652432.0,657856.0
02,541302,540888,540067,539783,538659.0,536136.0,534490.0,533316.0,531345.0,529374.0
03,342729,342911,343431,343062,341613.0,339384.0,337988.0,337171.0,335975.0,335628.0
04,160959,161241,161916,161588,161799.0,162565.0,163915.0,164068.0,164308.0,165451.0
...,...,...,...,...,...,...,...,...,...,...
95,1180365,1187081,1194681,1205539,1215390.0,1221923.0,1228618.0,1238581.0,1249674.0,1251804.0
971,404635,403314,402119,400186,397990.0,394110.0,390253.0,387629.0,384239.0,383559.0
972,392291,388364,385551,383911,380877.0,376480.0,372594.0,368783.0,364508.0,361225.0
973,237549,239648,244118,252338,259865.0,269352.0,268700.0,276128.0,281678.0,285133.0
974,828581,833944,835103,842767,850727.0,852924.0,853659.0,855961.0,861210.0,863083.0

In [227]:
pandas.DataFrame(test[2017])

          2017
           NaN
01    643350.0
02    534490.0
03    337988.0
04    163915.0
..         ...
95   1228618.0
971   390253.0
972   372594.0
973   268700.0
974   853659.0

[101 rows x 1 columns]